version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: krep_postgres
    environment:
      POSTGRES_DB: krep_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: